body {
    margin: 0;
}

.jhalar {
    height: 300px;
    margin-bottom: -90px;
}

.hero-section {
    /* min-height: 100vh; */
    /* background-color: #F99501; */
    background-image: url(orange-backdrop\ .png);
    background-size: cover;
    background-repeat: no-repeat;
}

.praragraph-and-audio{
    margin-left: 15rem;
}

.hero-section p {
    font-size: 46px;
    font-family: 'salsa',cursive;
    max-width: 550px;
}

     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     }

     .audio-container {
       background-color: #FBD8A4;
       max-width: max-content;
       border-radius: 45px;
       display: flex;
       align-items: center;
       justify-content: center;
       padding-left: 20px;
     }

     .laksmi-ganesha-section{
        background-color: #F99501;
        padding-block: 1em;
        padding-inline: 1rem;
     }

     .laksmi-ganesha-img {
        max-width: 900px;
        width: 100%;
        display: block;
        margin-inline: auto;
     }

     .horizontal-divider {
        display: flex;
        align-items: center;
        gap: 12px;
       max-width: 800px;
        margin-inline: auto;
        margin-bottom: 2rem;
     }

     .horizontal-line {
        height: 2px;
        background-color: #FBD8A4;
        width: 468px;
     }

     .circle {
        width: 10px;
        height: 10px;
        background-color: #FBD8A4;
        border-radius: 100%;
        flex-shrink: 0;
     }

     .laksmi-ganesha-section h2 {
        font-family: "Style Script", cursive;
        font-size: 59px;
        font-weight: 400;
        text-align: center;
     }

     .white-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
     }

     .white-card {
        max-width: 500px;
        background-color: white;
        padding: 4rem;
        border-radius: 23px;
        display: inline-block;
     }

     .white-card p {
        font-size: 2rem;
        font-family: 'salsa',cursive;
     }

     .little-girl {
        max-width: 280px;
        margin-left: -5rem;
     }

     .little-laksmi-ganesha {
        background-color: #FFF6E9;
        padding: 4rem;
        border-radius: 23px;
        max-width: 772px;
        display: flex;
        margin-inline: auto;
     }

     .little-laksmi-ganesha img {
        width: 50%;
     }
     .Thank-You-text {
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
     }

     .Thank-You-text h2 {
        text-align: left;
     }

     .My-name {
        text-align: right;
        font-size: 15px;
     }

     @media (max-width: 840px) {
        .first-deepak {
            display: block;
            margin-left: auto;
        }
        .second-deepak,
        .Soulful-Music,
        .Playing-music-icon {
            display: none;
        }
        .white-card p {
            font-size: 1.25rem;
        }
        .praragraph-and-audio{
            margin-left: 1rem;
        }
        .jhalar {
            margin-bottom: 0;
        }
        .little-girl {
            max-width: 160px;
        }
        .white-card  {
            padding-block: 1rem;
            padding-left: 2rem;
        }
        .little-laksmi-ganesha {
            padding: 2rem;
        }
     }

     @media (max-width: 540px) {
        .hero-section p {
            font-size: 30px;
        }
        .first-deepak  {
            width: 100%;
            max-width: 300px;
        }
        .laksmi-ganesha-section {
            font-size: 32px;
        }
        .white-card p {
            font-size: 1rem;
        }
     }

     /* @media (width < 840px) {
        .second-deepak {
            display: none;
        }
    } */